---
const { title, url, pubDate, thumbnail, author } = Astro.props;
---

<div class='max-w-sm w-72 rounded h-[456px] overflow-hidden shadow-lg'>
	<a href={url}>
		<img class='w-full' src={thumbnail.url} alt={thumbnail.alt} />
		<div class='px-6 py-4'>
			<div dir='rtl' class='font-semibold text-xl mb-2 arab-txt'>{title}</div>
			<p dir='rtl' class='text-gray-600 text-sm'>
				{pubDate}
			</p>
			<p dir='rtl' class='text-gray-900 text-sm mt-2'>
				{author}
			</p>
		</div>
		<div class='px-6 pt-4 pb-2'>
			<!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span> -->
		</div>
	</a>
</div>
