---
import BaseLayout from "./BaseLayout.astro";
import TimeTable from "../assets/svg/timetable.svg"
const {frontmatter} = Astro.props
---

<BaseLayout pageTitles=`طلبيات الفروع | ${frontmatter.title}`>
  <div
		class='page-title arab-txt mr-4 pr-2 lg:mr-0 flex flex-col justify-center items-end border-right border-r-4 border-gray-600'
	>
		<h1
			class='text-xl md:text-2xl lg:text-3xl font-bold lg:font-semibold text-gray-900'
			dir='rtl'
		>
			{frontmatter.title}
		</h1>
    <p>نشر فى  {frontmatter.pubDate.slice(0,10)}</p>
	</div>
  <main class="gap-6 pt-16 pr-6">
    <div class="md:w-2/3 self-center">
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
   <div  class="arab-txt" >
     <slot />
     <a class="underline text-sky-700 text-lg" href={frontmatter.link}>أضغط هنا</a>

   </div>
  </main>
</BaseLayout>